@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans' , sans-insert;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #201b2c;
}

.container{
    width: 75%;
    height: 80vh;
    display: flex;
    
    box-shadow: 15px 15px 15px #00000056;
}

.img-box{
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2841;
    padding: 1rem;
}



.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2f2841;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


.login-btn{
    display: flex;
    align-items: center;

}

.login-btn button{
    border: none;
    background-color: #77ffc0;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn button:hover {
    background-color: #00ff88 ;
}

.login-btn button a {
    text-decoration: none;
    font-weight: 700;
    color: #2b134b;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background: #00ff88;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;

}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #eeeeeeda;
    box-shadow: 5px 5px 10px #000000d2;

}

.input-box input:hover {
    background-color: #ffffff;
}

.input-box input:focus-visible {
    outline: 2px solid #77ffc0;

}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #eeeeeeda;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.62rem;
    padding: 0 0.5rem;

}

.gender-input {
    display: flex;
    align-items: flex-start;
}

.gender-input input {
    margin-right: 0.35rem;

}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #eeeeeeda;
}



.header div{
    color: #00ff88;
}

.btn-login{
    width: 100%;
    margin-top: 2.5rem;
    padding: 16px 0px;
    border: none;
    border-radius: 5px;
    padding: 0.62rem;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background: #77ffc0;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
 }


 .picture__input {
    display: none;
  }
  
  .picture {
    width: 150px;
    aspect-ratio: 16/9;
    background: #2f2841;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }